data/*.csv
report/new/*.csv
report/*.csv
__pycache__/
data/*.csv
data/lowtf/*.csv
log_papertrading.csv
instance/papertrade.db
report/opsetting/trades02.csv
report/opsetting/trades.csv
report/Doge117.png
report/Xrp149.png
data/strategy_params.json

.env
*.csv
logs/*.xt
data/lain2/README.markdown
data/lain2/strategy_params.json
